*{
    background-color: rgb(195, 197, 52);
    text-align: center;
}

h2{
    color: rgb(242, 27, 91);
    font-size: 3rem;
    /* text-shadow: 2px 2px 2px black; */
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}


.x{
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    color:crimson;
}
.o{
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    color:rgb(97, 20, 220);
}
.game{
    margin-left: 20px;
}
.container{
    margin: auto;
    height: 350px;
    width: 350px;

}

.box{
    height: 90px;
    width: 90px;
    background-color: white;
    margin: 5px;
    border-radius: 15px;
    box-shadow: 4px 4px 4px black;
    float: left;
}

.Reset-btn{
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border-radius: 100px;
}

.colorch{
    background-color:  rgb(238, 223, 144);
}

